/* reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
  overflow-x: hidden;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* end reset */

/* Base Styles */

h1 {
  color: inherit;
}

html {
  background-color: #f3f0ec;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  position: relative;
  background-color: #f3f0ec;
    background-image: radial-gradient(#70a7e93e 2px, transparent 2px), radial-gradient(#70a7e93f 2px, #f3f0ec 2px);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

/* Card Stuff */

.cardbox {
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
  width: 100%;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  perspective: 800px;
}

.cardbox .card {
  width: min(96%, 400px);
  aspect-ratio: 4/5;
  height: auto;
  padding: 24px 28px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  backface-visibility: visible;
  transform-style: preserve-3d;
  perspective-origin: bottom;
  transform: translate3d(0, -10px, 10px) rotateX(4deg);
  transition: 400ms;
}

.cardbox .card:after {
  border-radius: 8px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #fff;
    background-image: radial-gradient(circle at 50% 50%,
        rgba(219, 210, 144, 0.2) 0%,
        rgba(255, 255, 255, 0.04) 55%);
    background-repeat: repeat;
    background-size: 4px 4px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  overflow: hidden;
}

.cardbox .card:before {
  border-radius: 8px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #516fb4;
    opacity: 0.7;
    background: linear-gradient(135deg, #d0d0d055 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #d0d0d0 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #d0d0d055 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #d0d0d0 25%, #516fb4 25%) 0px 0/ 80px 80px;
  backface-visibility: visible;
}

.cardbox .card-inner {
  backface-visibility: hidden;
}

.cardbox--reveal {
  opacity: 1;
  visibility: visible;
}

.cardbox--flip .card {
  animation: card-flip 600ms;
}

@keyframes card-flip {
  0% {
    transform: translate3d(0, -10px, 10px) rotateX(4deg);
  }
  50% {
    transform: translate3d(0, -20px, 80px) rotateX(6deg) rotateY(180deg);
  }
  100% {
    transform: translate3d(0, -10px, 10px) rotateX(4deg) rotateY(360deg);
  }
}

.cardbox-buttons {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

/* Buttons */

button {
  color: black;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #fff;
  border: 3px solid blue;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: 300ms;
  min-width: 8ch;
}

button:hover {
  transform: scale(1.04);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  color: darkslategray;
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}

button.success {
border-color: green;
}

button.skip {
  border-color: orange;
}

/* Timer and reveals */

.time-over-message {
  opacity: 0;
  transition: 300ms;
  visibility: hidden;
}

.time-over-message--reveal {
  opacity: 1;
  visibility: visible;
}